.info_container {
  @apply flex flex-col px-4 my-1 w-full border-0
  sm:flex-row
  md:w-full;
}

.info_container_notitle {
  @apply flex items-center justify-start px-0 my-0 border-0;
}

.info_title {
  @apply text-[12px] font-bold mr-[8px] block mt-1
  sm:mt-0;
}

.info_value {
  @apply text-[12px] flex-1 block;
}

.info_runtime {
  @apply text-[12px] border border-green-700 px-[5px] py-[2px] ml-[15px] mr-[10px];
}
