@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image-container > span {
    position: unset !important;
  }
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  color: #ededed;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

#inputContainer > input:focus,
#inputContainer > input:not(:placeholder-shown) {
  @apply text-blue-100 bg-black border-btnprimary;
}

#inputContainer > input:focus ~ label,
#inputContainer > input:not(:placeholder-shown) ~ label {
  @apply text-blue-300 -translate-y-5 -translate-x-[17px] text-xs p-0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 2px solid #20344e;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  box-shadow: 0 0 0px 1000px black inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}
