@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image-container > span {
    position: unset !important;
  }
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  color: #ededed;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.inputfield:focus,
.inputfield:not(:placeholder-shown) {
  @apply text-blue-100 bg-black border-btnprimary;
}

.inputfield:focus ~ label,
.inputfield:not(:placeholder-shown) ~ label {
  @apply text-blue-300 -translate-y-5 -translate-x-[17px] text-xs p-0;
}
